---
---
 <!-- message  = ""Hello! I just came across Kuch-99 Agricultural Institute and I'm blown away by the amazing programs and facilities you offer! 🌱 As someone deeply passionate about agriculture, I'm thrilled about the opportunity to explore your cutting-edge education and research opportunities. Could you please provide me with more information about your programs? I'm eager to learn how I can be a part of this incredible institute! 😊 Looking forward to your response!""; -->
<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">NEW</span>
  <a href="https://wa.me/2347065664828?text=Hello!%20I%20just%20came%20across%20Kuch-99%20Agricultural%20Institute%20and%20I'm%20absolutely%20intrigued%20by%20the%20innovative%20programs%20and%20state-of-the-art%20facilities%20you%20offer.%20As%20someone%20passionate%20about%20agriculture%20and%20eager%20to%20make%20a%20difference%20in%20the%20field,%20I'm%20excited%20about%20the%20opportunity%20to%20explore%20your%20cutting-edge%20education%20and%20research%20opportunities.%20I'd%20love%20to%20learn%20more%20about%20your%20programs%20and%20how%20I%20can%20become%20a%20part%20of%20this%20dynamic%20community.%20Looking%20forward%20to%20hearing%20from%20you%20soon!
  " class="text-muted hover:underline dark:text-slate-400 font-medium"
    >A new course is now available »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="If you like Kuch-99 Agricultural Institute, give us a star."
    href="https://github.com/adepauldami"
  >
    <img
      src="https://img.shields.io/github/stars/adepauldami.svg?style=social&label=Stars&maxAge=86400"
      alt="Follow @onWidget"
      width="84"
      height="20"
    />
  </a>
</div>
