---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Kuch-99 Agricultural Institute — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        // TODO Customization
        text: 'Get Kuch-99 Agricultural Institute\'s Training',
        href: "https://wa.me/2347065664828?text=Hello!%20I%20just%20came%20across%20Kuch-99%20Agricultural%20Institute%20and%20I'm%20absolutely%20intrigued%20by%20the%20innovative%20programs%20and%20state-of-the-art%20facilities%20you%20offer.%20As%20someone%20passionate%20about%20agriculture%20and%20eager%20to%20make%20a%20difference%20in%20the%20field,%20I'm%20excited%20about%20the%20opportunity%20to%20explore%20your%20cutting-edge%20education%20and%20research%20opportunities.%20I'd%20love%20to%20learn%20more%20about%20your%20programs%20and%20how%20I%20can%20become%20a%20part%20of%20this%20dynamic%20community.%20Looking%20forward%20to%20hearing%20from%20you%20soon!",
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more about her', href: '#features' },
    ]}
     image={{
      src: 'https://plus.unsplash.com/premium_photo-1678344170545-c3edef92a16e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8fDA%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="title">
      Kuch-99 <span class="hidden xl:inline">...</span>
      <span class="text-accent dark:text-white highlight">  Agricultural </span> Institute
    </Fragment>

    // TODO Customization
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Kuch-99 Agricultural Institute</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Kuch-99 Agricultural Institute</span>
      Kuch-99 Agricultural Institute stands as a beacon of excellence in agricultural education and research. Nestled amidst the verdant landscapes of Nigeria, our institute is committed to nurturing the next generation of agricultural leaders equipped with knowledge, skills, and innovation.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Learn More About Kuch-99 Agricultural Institute"
    title="Kuch-99 Agricultural Institute\'s"
    subtitle="Kuch-99 Agricultural Institute: Cultivating Tomorrow's Leaders in Agriculture."
    items={[
      {
        title: 'Vision',
        description:
          'At Kuch-99 Agricultural Institute, our vision is to revolutionize the agricultural sector through cutting-edge education, research, and outreach programs. We aim to foster sustainable practices that ensure food security, environmental conservation, and economic prosperity.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Mission',
        description:
          'Our mission is to provide a dynamic learning environment where students can cultivate their passion for agriculture, develop critical thinking skills, and contribute positively to society. Through interdisciplinary education, hands-on training, and collaborative research, we empower individuals to address global agricultural challenges effectively.',
        icon: 'tabler:components',
      },
      // {
      //   title: 'Best Practices',
      //   description:
      //     'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
      //   icon: 'tabler:list-check',
      // },
      // {
      //   title: 'Excellent Page Speed',
      //   description:
      //     'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
      //   icon: 'tabler:rocket',
      // },
      // {
      //   title: 'Search Engine Optimization (SEO)',
      //   description:
      //     "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
      //   icon: 'tabler:arrows-right-left',
      // },
      // {
      //   title: 'Open to new ideas and contributions',
      //   description:
      //     'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
      //   icon: 'tabler:bulb',
      // },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="All In One Solution"
    title="Kuch-99 Agricultural Institute's Blueprint: Solution Meets Today's Challenges!"
    items={[
      {
        title: 'Cutting-Edge Education and Research:',
        description:
          'At Kuch-99 Agricultural Institute, we prioritize cutting-edge education and research to equip students with the knowledge and skills needed to excel in the dynamic field of agriculture.',
      },
      {
        title: 'State-of-the-Art Facilities and Resources:',
        description:
          'Our institute boasts state-of-the-art facilities, including modern laboratories, experimental farms, greenhouses, and technology-driven classrooms, providing students with an immersive learning environment.',
      },
      {
        title: 'Industry Partnerships and Career Opportunities:',
        description:
        'Kuch-99 Agricultural Institute collaborates closely with governmental agencies, agricultural organizations, and industry stakeholders to provide students with valuable internship opportunities, experiential learning experiences, and career placement support.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1560493676-04071c5f467b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8fDA%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern agricultural frameworks</h3>
       Gain a competitive advantage by incorporating industry leading ideas
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of advantage',
        description: `Our curriculum is designed by industry experts and renowned scholars, ensuring that students receive a comprehensive understanding of agricultural sciences, sustainable practices, and emerging technologies.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Through hands-on training, fieldwork, and research projects, students have the opportunity to apply theoretical knowledge to real-world scenarios, fostering critical thinking, problem-solving, and innovation.',
      },
      {
        title: 'Fully flexible',
        description:
          "With access to cutting-edge equipment and technologies, students can conduct experiments, analyze data, and explore innovative solutions to agricultural challenges.",
      },
      // {
      //   title: 'Integration of media',
      //   description:
      //     'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      // },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1664303478572-14c614a66a70?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHBvc3NpYmlsaXR5fGVufDB8fDB8fHww',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Possible opportunities from the Kuch-99 Agricultural Institute </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with Kuch-99 Agricultural Institute.',
      },
      {
        title: 'Community support',
        description: `Join the growing Kuch-99 Agricultural Institute community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream training up and running in no time with Kuch-99 Agricultural Institute."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Enroll:</span>',
        description:
          "Take the first step towards your agricultural journey by enrolling in our programs, where you'll gain access to top-notch education and resources.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Take the Course:</em>',
        description:
          "Dive into our comprehensive courses, designed to equip you with the knowledge, skills, and practical experience needed to excel in the agricultural industry.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Become Certified:</span>',
        description:
          "Upon successful completion of your program, you'll receive certification from Kuch-99 Agricultural Institute, validating your expertise and credentials in the field.",
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        description: "Armed with your certification and newfound knowledge, leverage cutting-edge agricultural technologies and practices to unlock wealth and success in the agricultural sector.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1563198804-2309e2b129ac?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWdyaWN1bHR1cmFsJTIwd2VhbHRofGVufDB8fDB8fHww',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display Kuch-99 Agricultural Institute documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating wealth via Agriculture.
                        Kuch-99 Agricultural Institute is a very interesting Learning Centre.                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that Kuch-99 Agricultural Institute offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Kuch-99 Agricultural Institute?',
        description:
          "Kuch-99 Agricultural Institute stands out for its commitment to academic excellence. Our faculty comprises esteemed scholars, industry experts, and experienced professionals dedicated to providing high-quality education that prepares students for success in the agricultural sector.",
      },
      {
        title: 'What do I need to start?',
        description:
          'A genuine interest and passion for agriculture will drive your motivation and commitment throughout your academic and professional journey.',
      },
      {
        title: 'What programs does Kuch-99 Agricultural Institute offer?',
        description:
          "Kuch-99 Agricultural Institute offers a range of programs including Bachelor of Science in Agricultural Science, Master of Science in Sustainable Agriculture, and Ph.D. in Agricultural Research. We also offer certificate and diploma programs in specialized areas of agriculture.",
      },
      {
        title: "Can I apply for admission if I don't have a background in agriculture?",
        description:
          "Yes, we welcome students from diverse academic backgrounds who are passionate about agriculture and eager to make a difference in the field. Our programs are designed to accommodate students with varying levels of experience and expertise.",
      },
      {
        title: 'Are there scholarships or financial aid available for students?',
        description:
          "Yes, Kuch-99 Agricultural Institute offers scholarships, grants, and financial aid opportunities to eligible students based on academic merit, financial need, and other criteria. We encourage all students to explore our financial assistance options and apply accordingly.",
      },
      {
        title: 'What kind of research opportunities are available for students?',
        description:
          " Kuch-99 Agricultural Institute provides students with access to cutting-edge research facilities, laboratories, and faculty mentors who are actively engaged in research projects. Students have the opportunity to participate in research initiatives, conduct experiments, and contribute to the advancement of agricultural knowledge.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Students', amount: '1K' },
      { title: 'Graduates', amount: '890' },
      { title: 'New intake', amount: '2K' },
      { title: 'Total', amount: '3.89K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: "https://wa.me/2347065664828?text=Hello!%20I%20just%20came%20across%20Kuch-99%20Agricultural%20Institute%20and%20I'm%20absolutely%20intrigued%20by%20the%20innovative%20programs%20and%20state-of-the-art%20facilities%20you%20offer.%20As%20someone%20passionate%20about%20agriculture%20and%20eager%20to%20make%20a%20difference%20in%20the%20field,%20I'm%20excited%20about%20the%20opportunity%20to%20explore%20your%20cutting-edge%20education%20and%20research%20opportunities.%20I'd%20love%20to%20learn%20more%20about%20your%20programs%20and%20how%20I%20can%20become%20a%20part%20of%20this%20dynamic%20community.%20Looking%20forward%20to%20hearing%20from%20you%20soon!",
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Kuch-99 Agricultural Institute Master Class
    </Fragment>

    <Fragment slot="subtitle">
     Enroll now and take the first step towards a rewarding career in agriculture. Time's ticking, so seize the moment and begin your transformation today! <br class="hidden md:inline" /> <br> Don't
      waste more time!
    </Fragment>
  </CallToAction>
</Layout>
